@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Radio canada', sans-serif;
}
body{
  background-color: rgb(32, 36, 36);
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.header h1{
  text-align: center;
  color: white;
}
.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 35px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  border: 1px solid black;
  border-radius: 5px;
  height: 75px;
  margin: 2px;
  width: 75px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  transition: scale 1.5s;
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  margin: 4px;
  transform: scale(1.1);

}
.btn:disabled{
  color: black;
  cursor: no-drop;
}
.result{
  font-size: large;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  color: white;
}
.name{
  color: rgb(82, 194, 97);
  font-style: normal;
}
.reset{
  
  text-align: center;
}
#reset{
  color: white;
  border: 1px;
  font-weight: bold;
  padding: 7px 10px;
  width: 70px;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(182, 62, 62);
  transition: background-color 1s;
}
#reset:hover{
  background-color: red;
  cursor: pointer;
}
#reset:active{
  border-color: black;
}